---
layout: splash
title: Welcome to My Site
header:
  overlay_image: /assets/images/splash.jpg
  overlay_filter: 0.5
  caption: "Welcome to the Archive Page"
  actions:
    - label: "Learn More"
      url: "/about/"
excerpt: "This is the optional excerpt for the splash page."
---

{{ content }}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
